<div class="page-header">
  <%= link_to alpha_item_defs_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>New alpha_item_def</h1>
</div>

<%= render 'form' %>
