<div class="jumbotron center">
  <div class="container">
    <div class="row">
      <div class="text-center text-white">
        <h1 class="display-3">Change your project</h1>
      </div>
    </div>
  </div>
  <br>
  <%= render 'layouts/login' %>
</div>