<div class="page-header">
  <%= link_to sprints_path(@project), class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    スプリント一覧へ
  <% end %>
  <h1>新規スプリント作成</h1>
</div>

<%= render 'form' %>
