// theme

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$colors: (
  blue: $blue,
  indigo: $indigo,
  purple: $purple,
  pink: $pink,
  red: $red,
  orange: $orange,
  yellow: $yellow,
  green: $green,
  teal: $teal,
  cyan: $cyan,
  gray: $gray - 600,
  gray-dark: $gray - 800,
) !default;

$theme-colors: (
  primary: $blue,
  secondary: $indigo,
  success: $green,
  info: $cyan,
  warning: $yellow,
  danger: $red,
  light: $gray - 100,
  dark: $gray - 800
) !default;