<div class="page-header">
  <%= link_to sbl_path(@pbl.sprint_id), class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    SBL一覧へ
  <% end %>
  <%= link_to show_pbl_path(@pbl), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    PBL詳細へ
  <% end %>

  <h1>スプリントバックログ項目の新規作成</h1>
</div>

<%= render 'form_sbl' %>
