<div class="page-header">
	<%= link_to pbl_path(get_current_project_id), class: 'btn btn-default' do %>
	<span class="glyphicon glyphicon-list-alt"></span>
	プロダクトバックログへ
	<% end %>

	<h1>プロダクトバックログ項目の新規作成</h1>
</div>

<%= render 'form' %>
