<div class="page-header">
  <%= link_to alpha_alphas_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>New alpha_alpha</h1>
</div>

<%= render 'form' %>
