<footer class="footer container remove-left-margin col-sm-12 text-right">
  <small>
    <span class="credit text-right">&copy; Web Learning Environment Lab., Osaka Institute of Technology</span>
  </small>
</footer>
